/* frontend/src/index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2E2F34; /* Ensure the global background is dark */
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Example scrollbars - optional, to match a dark theme. */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #3B3C41;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

@supports (-moz-appearance: none) {
  input[readonly][aria-haspopup] {
      pointer-events: auto !important;
  }
}

table.mrt-table tr.mantine-Table-tr.mantine-Table-tr-detail-panel td.mantine-Table-td-detail-panel {
  width: 100% !important;
}

.table-input-header input::placeholder {
    color: rgb(207,207,207);
    font-weight: normal;
    font-size: 14px;
}
